/* ========================= */
/* font imports */
/* ========================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;900&display=swap");
/* ========================= */
/* global variables */
/* ========================== */
:root {
  --white: #fff;
  --black: #000;
  --light: #e7e7e7;
  --dark: #444;
  --choco: #583400;
  --mainTransitions: linear 0.2s;
  --font: "Montserrat", sans-serif;
}
/* ========================= */
/* global elements styling
/* ========================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  /* background: var(--white); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); */
  background: var(--black);
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
}
h2,
h4,
h6 {
  text-transform: uppercase;
  font-family: var(--font);
  letter-spacing: 1px;
}
p,
span {
  font-family: var(--font);
  font-weight: 300;
}
section {
  min-height: 100vh;
  position: relative;
}
img {
  width: 100%;
  height: auto;
}
a.btn {
  font-family: var(--font);
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--white);
  padding: 1em;
  background: var(--choco);
  z-index: 1em;
}
ul,
ol {
  list-style-type: none;
}
/* =========================== */
/* individual elements styling
/* =========================== */

.showcase {
  position: relative;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2.5em 0 2.5em;
  text-transform: uppercase;
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), var(--black)); */
  z-index: 1000;
}
nav a img {
  /* filter: invert(1); */
  height: 3em;
  width: auto;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  font-family: "Montserrat", sans-serif;
  padding: 1em 2.5em 1em 2.5em;
  cursor: pointer;
  font-weight: 600;
}
nav ul li.signup {
  color: var(--choco);
}
nav ul li.login {
  border: 2px solid var(--choco);
  color: var(--white);
}

/* showcase */
.showcase-body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
}
.showcase-body .start {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}
.showcase-body .welcome {
  font-weight: 600;
  color: var(--white);
}

.showcase-body h2 {
  font-size: 8em;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--choco);
  letter-spacing: 5px;
}
.showcase-body h2 .span {
  margin:0 0 0 1em;
  color: var(--white);
}

.showcase-body .start p {
  max-width: 50%;
  line-height: 2em;
  font-size: 1em;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--white);
}
.showcase-body .end {
  max-width: 30%;
}
.back {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1000;
  opacity: 0.2;
  min-width: 90%;
}
